
:root{

    /* COLOR  */
    --primary: #4A72FF;
    --primary-light: rgba(74,114,255, 0.05);
    --Dark: #0C1B4D;
    --dark-light: rgba(12,27,77, 0.6);
    --dark-extra-light: rgba(12,27,77,0.1);
    --white:rgba(244, 247, 255, 1);

     /* SHADOW */
    --primary-shadow: 0 30px 30px 30px rgba(74,114,255,0.25);

    /* FONt SIZE */
    --font-size-xs: 14px;
    --font-size-s: 16px;
    --font-size-m: 18px;
    --font-size-xxl: 28px;

    /* Font Family */
    --font-family-source-sans-pro: 'Source Sans Pro';
    --font-family-Dm-sans: 'DM Sans';
    

}


body{
    font-family: 'DM Sans','Source Sans Pro', sans-serif;
    font-size: var(--font-size-s);
    background: linear-gradient(180deg, #EEF2FF, rgba(238,242,255, 0));
    min-height: 100vh;
    color: var(--dark-light);
    line-height: 1.5;
}

.container{
    max-width: 1024px;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
}
.button{
    padding: 16px 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 6px;
}
.primary-button{
    background-color: var(--primary);
    color: var(--white);
    box-shadow: 0px 30px 60px rgba(74, 114, 255, 0.25);
    font-size: var(--font-size-m);
    font-weight: 600;
    font-family: var(--font-family-source-sans-pro);
}
.secondary-button{
    background-color: var(--primary-light);
    color: var(--primary);
    font-size: var(--font-size-m);
    font-weight: 600;
    font-family: var(--font-family-source-sans-pro);
}

section{
    margin-bottom: 104px;
    margin-top: 104px;
}

section .section-introduction{
    margin-left: auto;
    margin-right: auto;
    max-width: 50ch;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section .section-sub-title{
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: var(--font-size-xs);
    color: var(--Dark);
}

section .section-title{
    font-size: var(--font-size-xxl);
    color: var(--Dark);
}

/* Header */

header{
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;

}
header .primary-button{
    padding: 12px 24px;
}

nav{
    display: flex;
    gap: 62px;
    font-family: var(--font-family-source-sans-pro);
    color: var(--Dark);

}

nav a:hover,
nav a.active{
    font-weight: 600;

}


/* Hero */

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 72px;
    margin-bottom: 72px;
    gap: 32px;
}

.hero-body{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.hero-sub-title{
    color: var(--primary);
    font-size: var(--font-size-xs);
    margin-bottom: 32px;
    font-family: var(--font-family-source-sans-pro);
    font-weight: 600;
}

.hero-title{
    color: var(--Dark);
    font-size: 34px;
    font-family: var(--font-family-Dm-sans);
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 1.3;
}
.hero-desc{
    font-family: var(--font-size-m);
    margin-bottom: 32px;
}

.hero-action{
    display: flex;
    gap: 16px;
    margin-bottom: 72px;
}

.hero-analytic{
    display: flex;
    gap: 80px;
}

.hero-analiytic-item{
    display: flex;
    gap: 32px;
}

.hero-analiytic-item-body{
    text-align: center;
}

.hero-analiytic-item-body h5{
    font-weight: 400;
    font-size: var(--font-size-xs);
}
.hero-analiytic-item-body h3{
    font-weight: 600;
    color: var(--Dark);
    font-size: 24px;
}

.hero-img{
    flex: 1;
}


/* Branding */

#branding{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-light);
    padding: 64px;
    gap: 40px;
    border-radius: 8px;
}

.branding-image img{
    filter: grayscale(1);
    opacity: 0.2;
    transition: all 250ms ease-in-out;
}
.branding-image:hover img{
    filter: grayscale(0);
    opacity: 1;
}



/* Feature horizontal */

.section-body{
    display: flex;
    gap: 32px;
    align-items: center;
    text-align: center;
    margin-top: 104px;
}

.section-body > *{
    flex: 1;
}
.feature-item{
    display: flex;
    flex-direction: column;
}

.feature-item-title{
    font-size: var(--font-size-m);
    color: var(--Dark);
    margin-bottom: 8px;
}

.feature-image{
    height: 180px;
    margin-bottom: 40px;
}

.feature-item img{
    margin-left: auto;
    margin-right: auto;
}


/* Feature Vertical */
#feature-vertical{
    display: flex;
    align-items: center;
}

#feature-vertical > * {
    flex: 1;
}

#feature-vertical .section-introduction{
    text-align: left;
    margin-bottom: 24px;
}

 .feature-item2{
    display: flex;
    gap: 24px;
    align-items: flex-start;
    margin-bottom: 16px;
}

#feature-vertical .feature-item-image{
    padding: 16px;
    background-color: var(--dark-extra-light);
    border-radius: 8px;

}

.feature-item-body h3{
    color: var(--Dark);
    margin-bottom: 6px;
    

}
.feature-item-body{
    flex: 0253;
}


/* APP */

#app{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    color: var(--white);
    padding: 0 64px;
    border-radius: 16px;
    box-shadow: 0px 30px 60px rgba(74, 114, 255, 0.25);
    gap: 32px;
}

.app-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.app-image img{
    flex:1;
}

.app-body h3{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px;
    text-transform: uppercase;

}
.app-body h2{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 16px;

}

.app-body ul li{
    list-style: disc;
    font-size: 14px;
    font-weight: 400;
    margin-left: 20px;
    opacity: 0.7;
}

.app-share{
    display: flex;
    margin-top: 48px;
    gap: 32px;
}



/* FAQ */


.faq-body{
    margin-top: 104px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;
}

.faq-item{
    border-radius: 8px;
    cursor: pointer;
}
.faq-item.active{
    background-color: var(--primary);
    color: var(--white);
    box-shadow: 0px 30px 60px rgba(74, 114, 255, 0.25);
}
.faq-item.active svg path{
    stroke: var(--white);
}
.faq-item.active svg {
    transform: rotate(180deg);
    transition: all 300ms;
}
.faq-item.active .faq-description{
    color: var(--white);
    padding: 24px;
    font-size: inherit;
    opacity: 1;
    transition: opacity 500ms 250ms, font-size 250ms, padding 250ms;
}
.faq-item.active .faq-header{
    border-color: rgba(244, 247, 255, 0.2);
    color: var(--white);
}

.faq-item .faq-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--Dark);
    border-bottom: 1px solid var(--dark-extra-light);
    padding: 24px;
}

.faq-description{
    font-size: 0;
    opacity: 0;
    padding: 0;
    transition: opacity 250ms, font-size 500ms 250ms, padding 500ms 250ms;
}


/* Footer */

footer{
    background-color: var(--primary-light);
    padding-top: 104px;
    padding-bottom: 104px;
}

footer .container{
    display: flex;
    gap: 24px;
}


.company-item{
    flex: 2;
}

.sitemap,.social-media{
    flex: 1;
}


footer .title{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--Dark);
    font-weight: 700;
    margin-bottom: 16px;
    
}

.copright{
    margin-top: 8px;
    text-transform: uppercase;
    font-weight: 400;
}

.sitemap ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 700;
}

.social-media ul{
    display: flex;
    gap: 24px;
    margin-top: 24px;
}
.social-media li{
    background-color: var(--dark-extra-light);
    padding: 8px;
    border-radius: 8px;
}


@media (max-width: 768px) {
    #hero{
        flex-direction: column-reverse;
    }

    #feature-horizontal .section-body{
        flex-direction: column;
    }
    #feature-vertical{
        flex-direction: column;
    }
    #app{
        flex-direction: column-reverse;
        padding-bottom: 32px;
        padding-top: 32px;
        justify-content: center;
        align-items: center;
    }
    .app-share{
        justify-content: center;
    }
    .app-image img{
        border-radius: 8px;
    }
    .faq-body{max-width: 100%;}
    #branding{
        padding: 10px;
        gap: 13px;
        height: 100px;
    }
    footer .container{
        flex-direction: column;
    }
}